/*-------------Global Styles------------------*/
body {
  background-color: #EEEDEB;
  color: #333; 
  font-family: 'Lato', serif;
}

/*-------------Nav-Bar------------------*/
.menu {
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2000;
  background-color: #EEEDEB; /* Ensure the background covers the menu area */
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.menu li a {
  display: block;
  color: #BB9AB1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #987D9A;
  color: #EEEDEB;
}

.menu .icon {
  display: none;
  color: #BB9AB1;
  font-size: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
}

/*-------------Home Page------------------*/
#photo {
  margin-top: 10px;
  padding-top: 30px;
}

#icons {
  vertical-align: middle; 
  margin-right: 8px; 
  margin-left: 8px;
  margin-bottom: 8px;
  width: 30px; 
  height: auto; 
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #BB9AB1;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  color: #BB9AB1;
  background-color: #f9f9f9;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: #333;
  background-color: #f9f9f9;
}

a:any-link {
  color: #BB9AB1;
  text-decoration-line: none;
}

a:any-link:hover {
  text-decoration-line: underline;
  color: #987D9A; }

.name {
  font-size: 1.4em;
  font-weight: 700;
  color: #333;
  text-align: center;
}

.profile-pic {
  display: block;
  margin: 0 auto 20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 60px;
}

/*-------------experience------------------*/
.experience-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

.experience-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.experience-item:last-child {
  border-bottom: none;
}

.experience-title {
  font-weight: normal;
  color: #333;
  font-size: 1.2em;
}

.experience-date {
  color: #BB9AB1;
  font-size: 1em;
}

.group {
  font-weight: bold;
  text-decoration: none;
}

.skills-item {
  font-weight: normal;
  text-decoration: none;
}

/*----------Skills---------------*/

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.skill-category {
  background-color: #ffffff4e;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill-category h3 {
  font-size: 1.5em;
  color: #BB9AB1;
  margin-bottom: 10px;
}

.skills-item {
  font-size: 1em;
  color: #333;
  margin-bottom: 5px;
}

#about, #experience, #certifications, #projects, #skills, #message{
  list-style: none;
  width: 60%;
  background-color: #ffffff4e;
  text-align: justify;
  margin: 0 auto;
  line-height: 1.5; 
}

#contact {

  list-style: none;
  width: 60%;
  text-align: justify;
  margin: 0 auto;
  margin-top: 200px;
  line-height: 1.5; 
}

/*-------------projects------------------*/
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column size as needed */
  gap: 20px;
}

.repo-card {
  position: relative; 
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.repo-name {
  font-size: 1.5em; 
  font-weight: bold;
  color: #BB9AB1;
  text-decoration: none;
}

.repo-name:hover {
  text-decoration: underline;
  color: #987D9A;
}

.repo-description {
  margin: 10px 0;
  color: #333;
}

.repo-date {
  position: absolute;
  font-weight: bold;
  bottom: 10px; 
  right: 10px; 
  font-size: 0.9em;
  color: #555;
}

/*-------------certifications------------------*/
.certifications-container {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

.certification-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.certification-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.certification-item h3 {
  font-size: 1.2em; 
  font-weight: bold;
  background-color: #ffffff4e;
  color: #BB9AB1;
  text-decoration: none;
  margin: 0; 
  padding: 0; 
}

.certification-item:last-child {
  border-bottom: none;
}

.certification-category {
  font-weight: bold;
  font-size: 0.6em;
  color: #BB9AB1;
}

.certification-link {
  font-weight: normal;
  font-size: 0.6em;
  text-decoration: none;
}

.certification-link:hover {
  text-decoration: underline;
  color: #987D9A;
}

.certification-details {
  color: #555;
  font-size: 0.9em;
}

/*-------------Footer------------------*/
#footer {
  color: #BB9AB1;
  padding: 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 10px 20px; 
  gap: 50px;
  flex-wrap: wrap; 
}

.social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.social-media li {
  margin: 0 15px;
}

.social-media a {
  color: #BB9AB1;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.social-media a:hover {
  color: #987D9A; 
  transform: rotate(360deg) scale(1.5); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.social-media .social-icons {
  width: 24px;
  height: 24px;
  fill: currentColor;
  transition: transform 0.3s ease;
}

.social-media .social-icons:hover {
  transform: rotate(20deg) scale(1.2); 
}

/*-------------Message------------------*/

.contact-form-container {
  background-color: #ffffff4e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 60%;
  margin-left: 10px;

  text-align: justify;
}

.contact-form-container h2 {
  margin-top: 0;
  font-size: 2em;
  font-weight: 700;
  color: #BB9AB1;
  text-align: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

input, textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
}

textarea {
  resize: vertical;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  display: none;
}

.submit-button {
  background-color: #BB9AB1;
  color: #EEEDEB;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #987D9A;
}

.submit-button:active {
  background-color: #218838;
}