<%- include('./partials/head.ejs')%>
<%- include('./partials/nav_bar.ejs')%>

  <body>

    <h1>Valeriia</h1>

    <section>
    <h2>About</h2>
    <p>Software developer passionate about coding and problem‑solving, currently progressing through more than 100 medium tasks on LeetCode.
        Embarked on a transformative journey during a maternity leave, diving into Python and C# programming, and embracing challenges on LeetCode
        with enthusiasm. Committed to the path of continuous learning. Eagerly dedicated to expanding coding and computer science knowledge, and
        poised to make a meaningful transition into the realm of software development.</p>
    </section>

    <section>
    <h2>Experience</h2>

    <ul>
        <li>
            LiderKanz Odessa, Ukraine
            Sales Manager July 2011 ‑ 2019
        </li>
        <li>
            Parent Leaving
            2019 ‑ current
        </li>
    </ul>
  </section>
    </body>
  </html>