<%- include('./partials/head.ejs')%>

  <body>

    <header>

      <%- include('./partials/nav_bar.ejs')%>

      <img src="/pictures/my_pic.jpeg" alt="My photo" class="profile-pic">
      
      <h1 class="name">Valeriia Horodnycha</h1>

    </header>

    <section id="about">

    <!-- <h2>About</h2> -->

    <p>Software developer passionate about coding and problem‑solving, currently progressing through more than 100 medium tasks on LeetCode.
      Embarked on a transformative journey during a maternity leave, diving into Python and C# programming, and embracing challenges on LeetCode
      with enthusiasm. Committed to the path of continuous learning. Eagerly dedicated to expanding coding and computer science knowledge, and
      poised to make a meaningful transition into the realm of software development. Currently studying at the Code the Dream bootcamp where I study JavaScript, CSS, HTML, and APIs.</p>
    </section>

    <section id="projects">
      
      <h2>Projects</h2>
  
    </section>

    <section id="certifications">
      
      <h2>Certifications</h2>

      <table>

        <tr class="row">
  
              <td class="col1">
                HTML, CSS, Javascript, Node, React, PostgreSQL, Web3 and DApps
              </td>
              <td class="col2">
                Udemy, USA (2024)
              </td>
        </tr>

        <tr class="row">

              <td class="col1">
                Foundational C# with Microsoft
              </td>
              <td class="col2">
                freeCodeCamp,USA (2023)
              </td>
        </tr>

        <tr class="row">

              <td class="col1">
                C# Advanced Topics: Prepare for Technical Interviews
              </td>
              <td class="col2">
                Udemy, USA (2023)
              </td>
        </tr>

        <tr class="row">
            
              <td class="col1">
                C# basic
              </td>
              <td class="col2">
                HackerRank,USA (2023)
              </td>
        </tr>

        <tr class="row">

              <td class="col1">
                Master the Data Structures + Algorithms
              </td>
              <td class="col2">
                Udemy, USA (2023)
              </td>

        </tr>

        <tr class="row">

              <td class="col1">
                Python Bootcamp 
              </td>
              <td class="col2">
                Udemy, USA (2023)
              </td>
          </tr>
        </table>
    </section>

    <section id="skills">
      
      <h2>Skills</h2>
  
    </section>

  <section id="experience">

    <h2>Experience</h2>

    <table>

      <tr class="row">

            <td class="col1">
              Parent Leaving
            </td>
            <td class="col2">
              2019 ‑ current
            </td>
      </tr>
      
      <tr class="row">

            <td class="col1">
                Sales Manager 
            </td>

            <td class="col2">
              July 2011 ‑ 2019
            </td>
          </tr>
     </table>
          
  </section>
  
  </body>

    <footer>
      <%- include('./partials/footer.ejs')%>
    </footer>
    
</html>